<div id="title">
    <h1>{{ title }}</h1>
    <h2>{{ subtitle }}</h2>
    <p>{{ email }}</p>
</div>

<article class="about">
    <h2>About me</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu pellentesque libero. Duis vel est hendrerit felis egestas dapibus feugiat a orci. Pellentesque id sodales ante. Sed est libero, pretium et odio at, malesuada sodales dui. Suspendisse neque massa, suscipit id nisi sed, laoreet porttitor nisi. Sed fringilla ex eleifend, dictum tortor a, commodo sapien. Pellentesque condimentum dapibus vehicula. Praesent consequat nunc vitae erat sollicitudin feugiat.
    </p>
</article>